In [5]:
#importing necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
#importing the dataset
data = pd.read_csv('energydata_complete.csv')

In [6]:
data

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [95]:
X= np.array(data['T2']).reshape(-1,1)

In [96]:
y = data['T6']

In [97]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [136]:
lin = LinearRegression()

In [99]:
linear.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [100]:
pred = lin.predict(X_test)

In [101]:
from sklearn.metrics import r2_score

In [102]:
score = r2_score(y_test,pred)

In [103]:
score

0.6427789637197382

In [32]:
from sklearn.metrics import mean_absolute_error

In [35]:
error = mean_absolute_error(y_test,pred)

In [36]:
error

2.8229401131313034

In [211]:
from sklearn.preprocessing import MinMaxScaler

In [212]:
scale = MinMaxScaler()

In [213]:
data_train = data.drop(['date','lights'],axis=1)

In [214]:
data_train = scale.fit_transform(data_train)

In [215]:
data_train

array([[0.04672897, 0.32734952, 0.56618659, ..., 0.53846154, 0.26544891,
        0.26544891],
       [0.04672897, 0.32734952, 0.54132648, ..., 0.53393665, 0.37208289,
        0.37208289],
       [0.03738318, 0.32734952, 0.53050179, ..., 0.52941176, 0.57284766,
        0.57284766],
       ...,
       [0.24299065, 0.91974657, 0.53866618, ..., 0.89894419, 0.58397859,
        0.58397859],
       [0.38317757, 0.91974657, 0.54949087, ..., 0.8974359 , 0.12637146,
        0.12637146],
       [0.39252336, 0.91974657, 0.53875791, ..., 0.8959276 , 0.68239057,
        0.68239057]])

In [216]:
target = data['Appliances']

In [217]:
newX_train,newX_test,newy_train,newy_test = train_test_split(data_train,target,test_size=0.3,random_state=42)

In [218]:
lin.fit(newX_train,newy_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [220]:
predict = lin.predict(newX_test)

In [221]:
error = mean_absolute_error(newy_test,predict)

In [222]:
error

4.168292575932599e-12

In [230]:
residual = (predict-newy_test)

In [231]:
residual

8980     4.192202e-12
2754     4.121148e-12
9132     4.149570e-12
14359    4.256151e-12
8875     4.135359e-12
             ...
831      3.865352e-12
10993    4.348522e-12
11761    4.412470e-12
12364    4.305889e-12
11863    4.348522e-12
Name: Appliances, Length: 5921, dtype: float64

In [234]:
predict

array([ 40.,  90.,  50., ...,  50., 110.,  50.])

In [235]:
newy_test

8980      40
2754      90
9132      50
14359     50
8875      70
        ...
831      250
10993     60
11761     50
12364    110
11863     50
Name: Appliances, Length: 5921, dtype: int64

In [236]:
from sklearn.metrics import mean_squared_error

In [237]:
root = np.sqrt(mean_squared_error(predict,newy_test))

In [238]:
root

4.1721268799269875e-12

In [239]:
coeff = r2_score(newy_test,predict)

In [240]:
coeff

1.0

In [241]:
print(lin.coef_)

[ 1.07000000e+03 -6.89602402e-14  1.10977325e-13 -1.16710717e-13
  2.95622108e-13 -5.70168934e-14  4.93418946e-14 -1.29042666e-13
  1.00886721e-13 -1.21671312e-13 -2.97638283e-13  1.41716786e-13
 -9.67093178e-14  8.48597602e-15 -2.32027930e-13 -4.57997950e-14
 -2.55003346e-13 -2.17114982e-14 -1.62639494e-13  2.91299140e-14
 -1.01504304e-14  8.13062089e-15  4.16959607e-14 -1.16160708e-13
  1.70401817e-13  1.03983409e-13  1.03983409e-13]

In [242]:
print(X.columns)

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [243]:
X = data.drop(['Appliances','date','lights'],axis=1)

In [244]:
X.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [245]:
from sklearn.linear_model import Lasso

In [246]:
rid = Lasso(alpha=0.001)

In [247]:
rid.fit(newX_train,newy_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [248]:
pr = rid.predict(newX_test)

In [249]:
root = np.sqrt(mean_squared_error(pr,newy_test))

In [250]:
root

0.010245891458532854